# Web scraping
beautifulsoup4
lxml
html5lib
selenium>=4.21
cloudscraper
requests
Unidecode

# Data
pandas
numpy
scipy
scikit-learn
rapidfuzz
itertools

# Viz
matplotlib
seaborn
plotly
mplsoccer

# App
streamlit
streamlit-option-menu
