# Web scraping
beautifulsoup4
lxml
html5lib
selenium>=4.21
cloudscraper
requests
unidecode

# Data
pandas
numpy
scipy
scikit-learn
rapidfuzz

# Viz
matplotlib
seaborn
plotly
mplsoccer
altair==4.2.2

# App
streamlit
streamlit-option-menu
