name: Fbref Execute Players
on:
  workflow_dispatch:  # Manual trigger

jobs:
  scrape_and_commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Needed to push changes

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy

      - name: Ejecutar script Fbref players
        run: |
          python scripts/player_scripts/Fbref/fbref.py

      - name: Commit y Push del archivo CSV generado
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: Actualizar fbref_players_2026.csv"
          branch: main
          file_pattern: data/players/fbref/fbref_players_2026.csv
          commit_user_name: GitHub Actions Bot
          commit_user_email: actions@github.com
          commit_author: GitHub Actions Bot <actions@github.com>
