name: Run FBref Teams Salaries

on:
  schedule:
    - cron: '0 8 1 * *'   # Every 1st of the month at 08:00 UTC
  workflow_dispatch:

jobs:
  scrape_and_commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install pandas lxml html5lib unidecode

      - name: Ejecutar script de salarios
        run: python scripts/team_scripts/teams_salaries.py

      - name: Commit y Push del archivo CSV generado
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: Actualizar teams_salaries.csv"
          branch: main
          file_pattern: ./data/team/teams_salaries.csv
          commit_user_name: GitHub Actions Bot
          commit_user_email: actions@github.com
          commit_author: GitHub Actions Bot <actions@github.com>
